[submodule "components/external-libraries/ESP-FlexyStepper"]
	path = components/external-libraries/ESP-FlexyStepper
	url = git@github.com:pkerspe/ESP-FlexyStepper.git
[submodule "components/external-libraries/TMCStepper"]
	path = components/external-libraries/TMCStepper
	url = git@github.com:teemuatlut/TMCStepper.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = git@github.com:espressif/arduino-esp32.git
[submodule "main/lib/ESPAsyncWebServer"]
	path = components/external-libraries/ESPAsyncWebServer
	url = git@github.com:SelaliAdobor/ESPAsyncWebServer.git
[submodule "main/lib/AsyncTCP"]
	path = components/external-libraries/AsyncTCP
	url = git@github.com:me-no-dev/AsyncTCP.git
[submodule "main/lib/fmt-esp32"]
	path = components/fmt-esp32
	url = git@github.com:SelaliAdobor/fmt-esp32.git
[submodule "main/lib/croncpp"]
	path = main/lib/croncpp
	url = git@github.com:mariusbancila/croncpp.git
[submodule "main/lib/json11"]
	path = main/lib/json11
	url = git@github.com:dropbox/json11.git
[submodule "main/lib/etl"]
	path = main/lib/etl
	url = git@github.com:ETLCPP/etl.git
