[submodule "components/external-libraries/TMCStepper"]
	path = components/external-libraries//TMCStepper
	url = https://github.com/teemuatlut/TMCStepper.git
[submodule "components/external-libraries/AccelStepper"]
	path = components/external-libraries/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
[submodule "components/external-libraries/StepperDriver"]
	path = components/external-libraries/StepperDriver
	url = https://github.com/laurb9/StepperDriver.git
[submodule "components/external-libraries/AsyncTCP"]
	path = components/external-libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "components/external-libraries/MPMCQueue"]
	path = lib/MPMCQueue
	url = https://github.com/rigtorp/MPMCQueue.git
[submodule "components/external-libraries/moodycamel-queue-esp32"]
	path = components/external-libraries/moodycamel-queue-esp32
	url = git@github.com:SelaliAdobor/moodycamel-queue-esp32.git
[submodule "components/external-libraries/fmt-esp32"]
	path = components/external-libraries/fmt-esp32
	url = git@github.com:SelaliAdobor/fmt-esp32.git
[submodule "components/external-libraries/arduinoWebSockets"]
	path = components/external-libraries/arduinoWebSockets
	url = git@github.com:Links2004/arduinoWebSockets.git
[submodule "components/arduino"]
	path = components/arduino
	url = git@github.com:espressif/arduino-esp32.git
[submodule "components/external-libraries/ESPAsyncWebServer"]
	path = components/external-libraries/ESPAsyncWebServer
	url = git@github.com:SelaliAdobor/ESPAsyncWebServer.git
[submodule "components/external-libraries/FlexyStepper"]
	path = components/external-libraries/FlexyStepper
	url = git@github.com:Stan-Reifel/FlexyStepper.git
[submodule "components/external-libraries/espsoftwareserial"]
	path = components/external-libraries/espsoftwareserial
	url = git@github.com:plerup/espsoftwareserial.git
[submodule "components/external-libraries/ESP-FlexyStepper"]
	path = components/external-libraries/ESP-FlexyStepper
	url = git@github.com:pkerspe/ESP-FlexyStepper.git
[submodule "components/external-libraries/utf8proc"]
	path = components/external-libraries/utf8proc
	url = git@github.com:JuliaStrings/utf8proc.git
